$break-tablet: 1280px;
$break-ipad-pro: 1024px;
$break-ipad: 768px;
$break-mobile: 414px;

.footer{
    .content-footer{
        @media (max-width: $break-ipad) {
            flex-direction: column;
            padding-bottom: 0;
        }
        @media (max-width: $break-mobile) {
            padding-bottom: 0;
        }
        h1{
            //@media (max-width: $break-ipad-pro) {
            //
            //}
            @media (max-width: $break-ipad) {
                padding-bottom: 13px;
                order: 1;
            }
        }
        .menu-footer{
            background: none;
            border-right: 1px solid var(--unnamed-color-808080);
            @media (max-width: $break-ipad-pro) {
                display: block;
            }
            @media (max-width: $break-ipad) {
               border-right: none;
                order: 3;
            }
            ul{
                padding: 13px 30px;
                margin-left: 55px;
                @media (max-width: $break-ipad) {
                   flex-wrap: wrap;
                    text-align: center;
                }
                @media (max-width: $break-mobile) {
                    padding-bottom: 0;
                }
                li{
                    padding-left: 30px;
                    padding-right: 30px;
                    @media (max-width: $break-ipad) {
                        width: 50%;
                        padding: 0px 20px 20px 0px!important;
                    }

                    a{
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-hiragino-kaku-gothic-pro);
                        letter-spacing: var(--unnamed-character-spacing-0);
                        color: var(--unnamed-color-1e1e1e);
                        text-align: center;
                        font: normal normal normal 15px/23px Hiragino Kaku Gothic Pro;
                        letter-spacing: 0px;
                        color: #1E1E1E;
                        @media (max-width: $break-ipad) {
                            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-hiragino-kaku-gothic-pro);
                            letter-spacing: var(--unnamed-character-spacing-0);
                            color: var(--unnamed-color-1e1e1e);
                            text-align: left;
                            font: normal normal normal 14px/21px Hiragino Kaku Gothic Pro;
                            letter-spacing: 0px;
                            color: #1E1E1E;
                        }
                    }
                }
            }
        }
        .login{
            @media (max-width: $break-ipad-pro) {
                display: block;
            }
            @media (max-width: $break-ipad) {
                order: 2;
                padding-bottom: 13px;
            }
            @media (max-width: $break-mobile) {
                width: 100%;
            }
            .btn-login{
                margin-left: 49px;
                @media (max-width: $break-ipad) {
                    margin-left: 0;
                }
                @media (max-width: $break-mobile) {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

}
.container__fluid{
    padding: 0 !important;
    .menu-bottom{
        ul{
            justify-content: center;
            margin-bottom: 23px;
            @media (max-width: $break-ipad) {
                flex-direction: column;
                align-items: start;
            }
            li{
                padding-left: 15px;
                padding-right: 15px;
                a{
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-hiragino-kaku-gothic-pro);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-ffffff);
                    text-align: center;
                    font: normal normal normal 13px/19px Hiragino Kaku Gothic Pro;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
.copyright{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-hiragino-kaku-gothic-pro);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-808080);
    text-align: center;
    font: normal normal normal 12px/18px Hiragino Kaku Gothic Pro;
    letter-spacing: 0px;
    color: #808080;
}
.menu-footer, .menu-bottom{
    position: relative !important;
    width: auto !important;
    height: auto !important;
    left: 0;
    z-index: 1;
    ul{
        flex-direction: row;
        margin-top: 0;
        margin-left: 0 !important;
        padding: 13px;
        li{
            margin-top: 0;
        }
    }
}
