.btn-add-new{
    padding: 4px 28px;
    background: #3f96c5;
    color: #ffff;
    border-radius: 4px;
    font-size: 22px;
    height: 42px
}

.main-content{
    padding: 0 14px;
}
.bg-gray-table{
    background: #e0e0e4;
}
.bg-yellow-table{
    background: #f1cea5;
}
.bg-pink-table{
    background: #f5bbc2;
}
.btn-view{
    background: #fad4d4;
    border: solid 2px #000000;
    /*border-radius: 4px;*/
}
.btn-view:hover{
    background: #ffbfbf;
}
.btn-duplicate{
    font-size: 34px;
    padding: 0 4px;
    line-height: 0px;
}

/* custom pagination bootstrap*/
.page-item.active .page-link {
    background: #f1cea5;
    border-color: #f1cea5;

}
.form-check-custom {
    padding-left: 3.25rem;
}

.card-add-job{

}
.title-input-custom{
    font-weight: 500 !important;
}
.btn-add-new-block{
    background: #179bd5;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
}

.btn-save{
    background: #3f96c5;
    color: #FFFFFF;
    padding: 8px 42px;
}

.btn-save:hover{
    color: #FFFFFF;
    background: #318cc0;
}

.btn-cancel{
    background: #947f7f;
    color: #FFFFFF;
    padding: 8px 36px;
}
.btn-cancel:hover{
    background: #817171;
    color: #FFFFFF;
}
.btn-delete-block{
    background: red;
    padding: 6px 8px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    right: 0;
    z-index: 1;
}

.btn-job-detail{
    padding: 4px 8px;
}
.btn-job-detail i{
    font-size: 16px;
}

.input-date-filter{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    color: #495057;
    padding: 0.125rem 0.75rem;
}
