.header-forgot-page {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #1E1E1E;
    font-size: 16px;
}
.forgot-password-content {
    margin-top: 50px;
    justify-content: center;
    width: 400px;
}
.forgot-password-title {
    text-align: center;
}
.forgot-password-input {
    margin-top: 50px;
    margin-bottom: 20px;
}
.confirm-password-input {
    margin-bottom: 50px;
}
.forgot-password-input input, .confirm-password-input input{
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    opacity: 1;
    width: 100%;
    padding: 14px 16px;
    margin-top: 10px;
}
.forgot-password-content button{
    width: 100%;
    background: #0EAFFF;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 7px;
    opacity: 1;
    border: none;
    color: #FFFFFF;
    padding: 15px;
}
.menu, .content-footer {
    display: none;
}
.footer {
    position: absolute;
    bottom: 12px;
    width: 100%;
    margin: 0px auto;
}
